<!-- _footer.html -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: @@{width}; font-family: sans-serif; color: @@{txtColor}; font-size: 12px; line-height: 140%;">
    <tr>
        <td style="padding: 40px 10px; width: 100%; font-family: sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: @@{txtColor};" class="x-gmail-data-detectors">
            <webversion style="color: @@{txtColor}; text-decoration: underline; font-weight: bold;">View as a Web Page</webversion>
            <br><br>
            Company Name<br>123 Fake Street, SpringField, OR, 97477 US<br>(123) 456-7890
            <br><br>
            <unsubscribe style="color: @@{txtColor}; text-decoration: underline;">unsubscribe</unsubscribe>
        </td>
    </tr>
</table>