<!-- _hero.html -->
<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%" height="400" bgcolor="#eeeeee" style="background-color: #eeeeee">
    <tr>
        <td>
           <table border="0" align="center" cellpadding="0" cellspacing="0" width="800" height="400">
               <tr>
                   <td>
                       <img src="@@{imgUrl}bg.jpg" alt="bg" />
                   </td>
               </tr>
           </table> 
        </td>
    </tr>    
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0" width="800">
    <tr>
        <td height="16"></td>
    </tr>
    <tr>
        <td class="mnw-heading">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis leo nunc, vel iaculis dui gravida at.</h1>
        </td>
    </tr>
    <tr>
        <td class="mnw-content">
            <!-- do not use p -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis leo nunc, vel iaculis dui gravida at. Proin ac felis nec enim ultricies dignissim vel a turpis. Nullam in mollis diam, in tincidunt ligula. Vivamus faucibus urna et nibh ullamcorper finibus. Pellentesque ut scelerisque ipsum. Praesent at est in ligula tincidunt iaculis vitae eget quam. Maecenas sit amet pretium lorem. Pellentesque cursus id turpis nec vehicula. Donec elementum velit nec ante varius, vitae rutrum tortor tincidunt. Sed malesuada eu justo sed ultrices. Aliquam id pharetra ante. Donec ipsum erat, condimentum sed congue et, consequat nec nulla. Curabitur nec augue ipsum. Nulla id massa consectetur, ornare metus et, pulvinar eros. Vestibulum placerat, justo id sagittis dictum, leo ante sodales nibh, eget condimentum eros ipsum at tortor. Sed tincidunt condimentum justo vitae tincidunt.<br>
        </td>
    </tr>
</table> 