<!-- _one_column_button.html -->
<tr>
    <td bgcolor="#ffffff">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td style="padding: 40px 40px 20px; text-align: @@{txtAlign};">
                    <h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: @@{headingTxtColor}; font-weight: normal;">Praesent laoreet malesuada&nbsp;cursus.</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: @@{txtColor}; text-align: @@{txtAlign};">
                    <p style="margin: 0;">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut&nbsp;erat.</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: @@{txtColor};">
                    <!-- Button : BEGIN -->
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                        <tr>
                            <td style="border-radius: 3px; background: @@{btnColor}; text-align: center;" class="button-td">
                                <a href="http://www.google.com" style="background: @@{btnColor}; border: 15px solid @@{btnColor}; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                    <span style="color: @@{btnTxtColor};" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;A Button&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- Button : END -->
                </td>
            </tr>

        </table>
    </td>
</tr>